body {
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
/*    text-align: justify;*/
    color: #333333;
}
.body {
    background-color: #666666;
}

h1 {
    font-family: Tahoma, trebuchet, sans-serif;
    font-size: 18px;
    color: #333333;
    text-align: left;
    font-weight: bolder;
}

h2 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    color: #cc3333;
}


div {
    border-radius: 0;
}


.wrapper {
	width: 990px;
	margin: 0px auto;
}
.content_all {
    background: url("../images/bg_conten.png") #f2f2f2 0px 0px repeat-y;
}

.content_all_right {
    background: url("../images/bg_conten_right.png") right top repeat-y;
    height: 1020px;
}
.bottom_content_left {
    background: url("../images/bg_left.jpg") #d7d7d7 0px 0px repeat-y;
}

.bottom_content_right {
    background: url("../images/bg_right.jpg") right top repeat-y;
}

.line_left {
	height: 6px;
    background: url("../images/bg_line_left.jpg") #8c8c8c 0px 0px repeat-y;
}

.line_right {
	height: 6px;
	background: url("../images/bg_line_right.jpg") right top repeat-y;
}


.logo-block1 {
	width: 570px;
	height: 570px;
}

.logo-main {
	background: url("../images/logo-main.png") top left no-repeat;
	float: left;
}
.logo-other {
	background: url("../images/logo-other.png") top left no-repeat;
	float: left;
}

.quote {
	width: 300px;
	margin-left: 570px;
	padding-bottom: 30px;
	margin-top: 60px;
	height: 180px;
	text-align: left;
}

.line {
	margin-top: 10px;
	margin-left: 10px;
}

.top-menu {
    width: 500px;
    height: 55px;
    margin-left: 350px;
}
.tother {
    margin-left: 520px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 400px;
}
.image-menu {
    width: 580px;
    float: left;
    margin-left: 60px;
    margin-top: 15px;
}

.image-menu img {
	margin: 5px;
	padding: 0px;
}

.clear {
	clear: both;
}

.content {
	margin: 0px auto;
	width: 80%	
}

.bottom_content {
	background-color: #d7d7d7;
	height: 300px;
}


.bg-top {
    background: url("../images/bg/bg_top.png");
    height: 30px;
}

.bg-bottom {
    background: url("../images/bg/bg_bottom.png");
    height: 30px;
}
.bg-right {
    background: url("../images/bg/bg_right.png");
    width: 30px;
}

.bg-left {
    background: url("../images/bg/bg_left.png");
    width: 30px;
}


.bg-top-left {
    background: url("../images/bg/bg_top_left.png") top left;
    height: 30px;
    width: 30px;
}

.bg-bottom-left {
    background: url("../images/bg/bg_bottom_left.png");
    height: 30px;
    width: 30px;
}
.bg-top-right {
    background: url("../images/bg/bg_top_right.png");
    width: 30px;
    height: 30px;
}

.bg-bottom-right {
    background: url("../images/bg/bg_bottom_right.png");
    width: 30px;
    height: 30px;
}


.block {
/*	width: 118px;*/
	width: 198px;
	float: left;
	margin-left: 20px;
	margin-right: 10px;
}

.block h3 {
	color: #267180;
	font-size: 11px;
}

.block .menu a {
	text-decoration: none;
    color: #333333;
    font-size: 10.5px;
}
.block .menu a:HOVER {
	text-decoration: underline;
    color: #333333;
}

.block .menu a:VISITED {
	text-decoration: none;
    color: #333333;
}

.block .menu li {
	list-style: none;
	padding: 0px;
	margin-left: -40px;
	text-align: left;
	line-height: 12px;
	padding-bottom: 5px;
}

.block_wrapper {
	width: 80%;
	margin: 20px auto;
}

.out_p {
	color: #cc3333;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	border-bottom: 1px solid #cc3333;
	margin-bottom: 10px;
}
.redline  {
	width: 95%;
	border-bottom: 1px solid #cc3333;
}

b, a {
    color: #cc3333;
    border: 0px;
    font-size: 12px;
}

a, img {
    border: none !important;
	text-decoration: none;
}

a:VISITED {
    color: #999999;
}
.content h1 {
    color: #cc3333;
    font-weight: bold;
}
.content h2 {
    color: #333333;
}

.content_left_col {
	float: left;
	width: 49%;
	border-right: 1px solid #c0c0c0;
}

.content_right_col {
	float: right;
	width: 49%;
}



.copy {
	margin: 20px auto;
	color: white;
	width: 100%;
}

.other_left {
	float: left;
	width: 300px;
	margin-top: 150px;
}
.other_left .menu {
	float: none;
}
.other_content {
	float: left;
	width: 620px;
}

.menu_other {
	margin-left: 30px;
	margin-top: 50px;
}

.menu_main {
	float: left;
	margin-left: 30px;
	margin-top: 20px;
}

.bg-content-top {
    background: url("../images/content/bg_content_top.png");
    height: 30px;
}

.bg-content-bottom {
    background: url("../images/content/bg_content_bottom.png");
    height: 30px;
}
.bg-content-right {
    background: url("../images/content/bg_content_right.png");
    width: 30px;    
}

.bg-min-height {
	height: 600px;
	width: 1px;
}

.bg-content-left {
    background: url("../images/content/bg_content_left.png");
    width: 30px;
}


.bg-content-top-left {
    background: url("../images/content/bg_content_top_left.png") top left;
    height: 30px;
    width: 30px;
}

.bg-content-bottom-left {
    background: url("../images/content/bg_content_bottom_left.png");
    height: 30px;
    width: 30px;
}
.bg-content-top-right {
    background: url("../images/content/bg_content_top_right.png");
    width: 30px;
    height: 30px;
}

.bg-content-bottom-right {
    background: url("../images/content/bg_content_bottom_right.png");
    width: 30px;
    height: 30px;
}
.bg-content {
	background-color: #f7f7f7;
	padding: 20px;
}

.post {
	width: 90%;
}
.post p {
	text-align: justify;
}

.more {
	float: right;
	margin-right: 20px;	
}

.p_date {
	font-size: 11px;
}
.more a {
	color: #48a5a5;
}

img {
    border: 0xp;
}

.tooltip {
    display:none;
    background:transparent url(../images/black_arrow.png) no-repeat;
    font-size:12px;
    height:40px;
    width:155px;
    padding:20px;
    color:#fff; 
    text-align: center;
}
.tooltip.bottom {
    background:url(../images/black_arrow_bottom.png) no-repeat;
    padding-top:30px;
}


.add {
	text-decoration: underline;
	font-style: italic;
	cursor: pointer;
	margin-bottom: 15px;
}

.ajax {
    background: url("../images/black_arrow_bottom.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: none;
    float: right;
    font-size: 12px;
    height: 40px;
    margin: -50px -210px;
    padding: 29px 20px;
    text-align: center;
    width: 155px;
}

.table {
	border: 1px solid #000000;
	width: 100%;
	background-color: #f7f7f7;
	margin-bottom: 30px;
	border-right: none;
}

.table th {
	text-align: left;
/*	border-right: 1px solid #000000; */
	padding: 5px;
	background-color: #dedede;
}

.table td {
/*	border-right: 1px solid #000000;*/	
	padding: 5px;
	background-color: white; 
}

.delete {
	width: 19px;
	height: 16px;
	float: right;
	cursor: pointer;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
html>body #sortable li { height: 1.5em; line-height: 1.2em; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }




/* ++++++++++++++  pagination  ++++++++++++++ */

.pagination
{
        margin:10px 0 ;
        padding:10px 0 10px 0px;

}

.pagination ul
{
        list-style-type:none;
        margin:0;
        padding:0;
        text-align:left;
}

.pagination li
{
        display:inline;
        padding:2px 5px;
        text-align:left;
        border:solid 1px #eee;
        margin:0 2px
}

.pagenav{
	padding:2px
}

.pagination li.pagination-start,
.pagination li.pagination-next,
.pagination li.pagination-end,
.pagination li.pagination-prev{
	border:0
}

.pagination li.pagination-start ,
.pagination li.pagination-start  span {
	padding:0
}

.rtable {
	border: 1px solid #f7f7f7;
	width: 100%;
	background-color: #8c8c8c;
	margin-bottom: 30px;
	border-collapse: separate; border-spacing: 1px;
    border-radius: 3px;
}

.rtable th {
	text-align: left;
	padding: 5px;
	padding-left: 8px;
	background-color: #dedede;
}

.rtable td {
	padding: 5px;
}

.rtable tr {
	background-color: white;
}

.header {
cursor: pointer;
}

.div_body {
display: none;
}
.hidden {
display: none;
}

.t_table td {
	padding: 2px;
	margin: 2px;
    vertical-align: top;
}
.copy a { 
	color: white;
}

.bg-content h1 {
 width: 100%;
}

.logo-block-click {
	width: 450px;
	height: 250px;
	position: absolute;
	cursor: pointer;

}